$bgc_default:#fff;

$fz_large:40pt;
$fz_title:20pt;
$fz_btn:18pt;
$fz_normal:17pt;
$fz_info1:14pt;
$fz_info2:13pt;
$fz_info3:11pt;

$pd_normal:15px;
$pd_btn:30pt;

$btn_middle_height:35pt;
$btn_middle_minwidth:180pt;
$btn_middle_r:4pt;
$btn_middle_fz:16pt;
$btn_pd:30pt;

$btn_small_height:35pt;
$btn_small_minwidth:60pt;
$btn_small_r:3pt;
$btn_small_fz:13pt;
$btn_small_pd:30pt;

$margin_normal:20px;
$margin_l_info1:15px;
$margin_s_info1:8px;

$labelWidth:85px;
$valuePadding:5px;


$c_darkest:#000;
$c_dark:#353535;
$c_light:#888;
$c_lightest:#b2b2b2;

$c_link:#576b95;
$c_link_h:rgba($c_link,0.2);
$c_link_d:rgba($c_link,0.1);

$c_pst:#09bb07;
$c_pst_h:rgba($c_pst,0.2);
$c_pst_d:rgba($c_pst,0.1);

$c_ngt:#e64340;
$c_ngt_h:rgba($c_ngt,0.2);
$c_ngt_d:rgba($c_ngt,0.1);